body {
    font-family: "Lato", sans-serif;
}

.main{
    margin-left: 60%; 
}

.sidenav{
    background-color: #000;
    overflow-x: hidden;
    height:100%;
    padding-top: 20px;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.login-form{
    margin-top: 50%;
    

}
.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    margin:5px;
    color: #fff;
}

label{
    padding-bottom: 3px;
}

  input.ng-touched.ng-invalid{
      border: 2px solid red;
  }

